html {
    box-sizing: border-box;
    background: #eeeeee;
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open sans', sans-serif;
    margin: 0;
}

.fixed-nav nav {
    position: fixed;
}

header {
    text-align: center;
    height: 50vh;
    background:url('https://images.unsplash.com/photo-1496347667499-8a8b224d351f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1980&q=80') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 6vw;
    text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.3);
}

nav {
    width: 100%;
    background: black;
    position: relative;
    top: 0;
    transition: all 500ms;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

li.logo {
    font-size: 30px;
    max-width: 0;
    background: white;
    overflow: hidden;
    transition: 800ms;
}

.fixed-nav li.logo {
    max-width: 500px;
}

.logo a {
    color: black;
}

nav a {
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: all 200ms;
    text-transform: uppercase;
    display: inline-block;
}

.site-wrap {
    max-width: 700px;
    margin: 70px auto;
    padding: 40px;
    background: white;
    text-align: justify;
    transform: scale(0.95);
    transition: transform 800ms;
}

.fixed-nav .site-wrap {
    transform: scale(1);
}